@import "tailwindcss";

/* @plugin "daisyui"; */

/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-primary-50: var(--color-purple-50);
  --color-primary-100: var(--color-purple-100);
  --color-primary-400: var(--color-purple-400);
  --color-primary-500: var(--color-purple-500);
  --color-dark-primary-700: var(--color-purple-700);
  --color-grey-300: var(--color-gray-300);
  --color-dark-background-100: var(--color-gray-300);
  --color-dark-background-500: var(--color-gray-700);
}

@layer base {
  h3 {
    font-size: var(--text-2xl);
    font-weight: bold
  }
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}
